<!-- <div id="fullscreen_bg" class="fullscreen_bg"/> -->

  <div class="container">
    <h1 class="form-signin-heading text-muted">Sign Up</h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <% if devise_error_messages! != "" %>
        <div class="alert alert-danger"><%= devise_error_messages! %></div>
      <% else %>
      <% end %>
      <%= f.text_field :username, placeholder: "Enter you Username",class: "form-control", required: true, autofocus: true %>
      <%= f.email_field :email, placeholder: "Enter you Email",class: "form-control", required: true, autofocus: true %>
      <%= f.password_field :password, placeholder: "Enter you password", class: "form-control", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.password_field :password_confirmation, class: "form-control", required: true %>
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
<!-- </div> -->
