%h1 Avoiding Scams
%p
  %span{:style => "background-color: #ffff99;"}
    %strong> Deal locally, face-to-face
    —follow this one rule and avoid 99% of scam attempts.
%ul
  %li
    %strong Do not extend payment to anyone you have not met in person.
  %li
    %strong> Beware offers involving shipping -
    deal with locals you can meet in person.
  %li
    %strong Never wire funds (e.g. Western Union)
    \- anyone who asks you to is a scammer.
  %li
    %strong Don't accept cashier/certified checks or money orders
    \- banks cash fakes, then hold you responsible.
  %li
    %strong> Transactions are between users only
    , no third party provides a "guarantee".
  %li
    %strong Never give out financial info
    (bank account, social security, paypal account, etc).
  %li
    %strong> Do not rent or purchase sight-unseen
    —that amazing "deal" may not exist.
  %li
    %strong Refuse background/credit checks
    until you have met landlord/employer in person.
%hr/
%h4 Who should I notify about fraud or scam attempts?
%p
  %strong United States
%ul
  %li
    %a{:href => "http://www.ic3.gov/"} Internet Fraud Complaint Center
  %li
    %a{:href => "http://www.ftc.gov/video-library/index.php/video/how-to-file-a-complaint-with-the-federal-trade-commission/1402334828001"} FTC Video: How to report scams to the FTC
  %li
    %a{:href => "https://www.ftccomplaintassistant.gov/"} FTC complaint form
    and hotline: 877-FTC-HELP (877-382-4357)
  %li
    %a{:href => "http://www.ftc.gov/sentinel/military/index.shtml"} Consumer Sentinel/Military (for armed service members and families)
  %li
    %a{:href => "http://www.siia.net/piracy/report/report.asp"} SIIA Software and Content Piracy reporting
  %li
    %a{:href => "http://www.ag.ny.gov/investor-protection/avoid-online-investment-fraud"} New York Attorney General, Avoid Online Investment Fraud
%p
  %strong Canada
%ul
  %li
    %a{:href => "http://www.phonebusters.com/"} Canadian Anti-Fraud Centre
    or 888-495-8501 (toll-free)
  %li
    %a{:href => "http://www.rcmp-grc.gc.ca/scams-fraudes/rep-sig-eng.htm"} Royal Canadian Mounted Police (RCMP)
%p If you are defrauded by someone you met in person, contact your local police department.
%p
  If you suspect that a Garage Sale post may be connected to a scam, please
  = succeed "." do
    %p
      %strong
        send us the details
%hr/
%h3 Recognizing scams
%p Most scams attempts involve one or more of the following:
%ul
  %li Email or text from someone that is not local to your area.
  %li Vague initial inquiry, e.g. asking about "the item." Poor grammar/spelling.
  %li Western Union, Money Gram, cashier check, money order, paypal, shipping, escrow service, or a "guarantee."
  %li Inability or refusal to meet face-to-face to complete the transaction.
%hr/
%h3 Examples of Scams
%p
  1. Someone
  %em claims your
  transaction is guaranteed, that a buyer/seller is officially certified, OR
  %em that a third party of any kind will handle or provide protection
  for a payment:
%ul
  %li These claims are fraudulent, as transactions are between users only.
  %li The scammer will often send an official looking (but fake) email that appears to come from Garage Sale or another third party, offering a guarantee, certifying a seller, or pretending to handle payments.
%p
  %strong 2. 
  %strong
    %em D
  %strong
    %em istant person
    offers a genuine-looking (but fake)
    %em cashier's check
  %strong :
%ul
  %li You receive an email or text (examples below) offering to buy your item, pay for your services in advance, or rent your apartment, sight unseen and without meeting you in person.
  %li A cashier's check is offered for your sale item as a deposit for an apartment or for your services.
  %li Value of cashier's check often far exceeds your item—scammer offers to "trust" you, and asks you to wire the balance via money transfer service.
  %li Banks will cash fake checks AND THEN HOLD YOU RESPONSIBLE WHEN THE CHECK FAILS TO CLEAR, sometimes including criminal prosecution.
  %li Scams often pretend to involve a 3rd party (shipping agent, business associate, etc.).
%p
  %strong
    3. Someone requests
    %em wire service
    payment via
    = succeed ":" do
      %em Western Union or MoneyGram
%ul
  %li Deal often seems too good to be true, price is too low, or rent is below market, etc.
  %li Scam "bait" items include apartments, laptops, TVs, cell phones, tickets, other high value items.
  %li Scammer may (falsely) claim a confirmation code from you is needed before he can withdraw your money.
  %li Common countries currently include: Nigeria, Romania, UK, Netherlands—but could be anywhere.
  %li Rental may be local, but owner is "travelling" or "relocating" and needs you to wire money abroad.
  %li Scammer may pretend to be unable to speak by phone (scammers prefer to operate by text/email).
%p
  %strong
    4.
    %em Distant person
    offers to send you a
    %em cashier's check or money order
    and then have you
    = succeed ":" do
      %em wire money
%ul
  %li This is ALWAYS a scam in our experience—the cashier's check is FAKE.
  %li Sometimes accompanies an offer of merchandise, sometimes not.
  %li Scammer often asks for your name, address, etc. for printing on the fake check.
  %li Deal often seems too good to be true.
%p
  %strong
    5.
    %em Distant seller
    suggests use of an
    = succeed ":" do
      %em online escrow service
%ul
  %li Most online escrow sites are FRAUDULENT and operated by scammers.
  %li
    For more info, do a google search on "
    %a{:href => "https://www.google.com/search?hl=en&q=fake+escrow"}> fake escrow
    " or "
    %a{:href => "https://www.google.com/search?hl=en&q=escrow+fraud"}> escrow fraud
    \."
%p
  %strong
    6.
    %em Distant seller
    asks for a partial payment upfront, after which they will
    %em ship
    goods:
%ul
  %li He says he trusts you with the partial payment.
  %li He may say he has already shipped the goods.
  %li
    Deal often
    = succeed "." do
      %em sounds too good to be true
%p
  %strong
    7.
    %em Foreign company
    offers you a job receiving payments from customers, then
    %em wiring funds
  %strong :
%ul
  %li Foreign company may claim it is unable to receive payments from its customers directly.
  %li You are typically offered a percentage of payments received.
  %li This kind of "position" may be posted as a job, or offered to you via email.
