<!-- <div id="fullscreen_bg" class="fullscreen_bg"> -->

  <div class="container">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
                        class: "form-signin") do |f| %>
      <h1 class="form-signin-heading text-muted">Log in</h1>
        <%= f.text_field :email, class: "form-control", placeholder: "Enter you Email", required: false, autofocus: true %>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter you password", required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= f.submit "Log In", class: "btn btn-lg btn-primary btn-block" %>
        <%= link_to 'Register', new_user_registration_path, class: "btn btn-lg btn-primary btn-block" %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <br />
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <% end -%>
    <% end %>
  </div>
<!-- </div> -->
